.nnn{margin: 150px 0px 50px 450px;}
.card{width: 500px;-webkit-box-shadow: 3px 3px 5px 6px #ccc;-moz-box-shadow: 3px 3px 5px 6px #ccc;  box-shadow: 8px 8px 3px 2px #ccc;background-image: url('/assets/img/bk.PNG');}
.text-center{margin-top: 20px;}
.md-form{margin-bottom: 5px;}
input{border-radius: 10px;}
button{border-radius: 20px;}