<!-- Footer -->
<div class="page">

        <!-- Footer Links -->
        <div class="container">
      
          <div class="row text-white">
                <div class="col-md-3">

                        <!-- Links -->
                        <h5>About me</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                
                        <p class="foot-desc mb-0">Here you can use rows and columns to organize your footer content. Lorem
                          ipsum dolor sit amet,
                          consectetur
                          adipisicing elit.</p>
                
                      </div>
                      <!-- Grid column -->
                
                      <hr class="clearfix w-100 d-md-none">
                
                      <!-- Grid column -->
                      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                
                        <!-- Links -->
                        <h5>Products</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                
                        <ul class="list-unstyled foot-desc">
                          <li class="mb-2">
                            <a href="/part1">Mobiles</a>
                          </li>
                          <li class="mb-2">
                            <a href="/shop">Clothes</a>
                          </li>
                          <li class="mb-2">
                            <a href="/shop">Books</a>
                          </li>
                          <li class="mb-2">
                            <a href="/shop">Laptops</a>
                          </li>
                        </ul>
                
                      </div>
                      <!-- Grid column -->
                
                      <hr class="clearfix w-100 d-md-none">
                
                      <!-- Grid column -->
                      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                
                        <!-- Links -->
                        <h5>Useful links</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                
                        <ul class="list-unstyled foot-desc">
                          <li class="mb-2">
                            <a href="/footer">Your Account</a>
                          </li>
                          <li class="mb-2">
                            <a href="/shop">Today's Deals</a>
                          </li>
                          <li class="mb-2">
                            <a href="/shop">New Realeses</a>
                          </li>
                          <li class="mb-2">
                            <a href="/shop">Best Sellers</a>
                          </li>
                        </ul>
                
                      </div>
                      <!-- Grid column -->
                
                      <hr class="clearfix w-100 d-md-none">
                
                      <!-- Grid column -->
                      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                
                        <!-- Links -->
                        <h5 style="padding-left: 18px;">Contacts</h5>
                        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                
                        <ul class="fa-ul foot-desc ml-4">
                          <li class="mb-2"><span class="fa-li"><i class="fa fa-map"></i></span>New York, Avenue Street 10
                          </li>
                          <li class="mb-2"><span class="fa-li"><i class="fa fa-phone"></i></span>042 876 836 908</li>
                          <li class="mb-2"><span class="fa-li"><i class="fa fa-envelope"></i></span>company@example.com</li>
                          <li><span class="fa-li"><i class="far fa-clock"></i></span>Monday - Friday: 10-17</li>
                        </ul>
                
                      </div>
                      <!-- Grid column -->
                
            <!--Grid column-->
            <div class="col my-5">
                <ul class="list-unstyled d-flex justify-content-center align-items-center mb-0">
                    <li>
                      <h5 class="mb-0 mr-3">Register for free</h5>
                    </li>
                    <li>
                      <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
                    </li>
                </ul>
              <!-- Social buttons -->
              <div class="nn">
              <ul class="list-unstyled list-inline text-center mb-0">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com" class="btn-floating btn-fb mx-1">
                    <i class="fa fa-facebook fa-2x"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.twitter.com" class="btn-floating btn-tw mx-1">
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.myaccount.google.com" class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google-plus fa-2x"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com" class="btn-floating btn-li mx-1">
                    <i class="fa fa-linkedin fa-2x"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.dribbble.com" class="btn-floating btn-dribbble mx-1">
                    <i class="fa fa-dribbble fa-2x"></i>
                  </a>
                </li>
              </ul>
              </div>
              <!-- Social buttons -->
      
            </div>
            <!--Grid column-->
      
          </div>
          <!--Grid row-->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background-color: #e96969; font-size: 20px;">© 2020 Copyright:
          <a href="https://mdbootstrap.com/" style="color: white;" class="ny"> www.all_in_one_mart.com</a>
        </div>
        <!-- Copyright -->
</div>