li{display: inline-block;}
table{border: 0 none;}
h5{padding: 0px 50px 5px 10px;display: inline-block;}
.nn{display: block;}
img{box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
		  0.3em 0.3em 1em rgba(0,0,0,0.3);}
.nav-item{font-size: 30px;margin-left: 540px;}
h1{text-align: center;color: chocolate;}
.mm{text-align: center;color: #e96969;margin-top: -5px;}
h1:hover{font-size: 35px;}
.mm:hover{font-size: 40px;}