<div class="w" style="margin-top: 100px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="part1" style="margin-left: 100px;">Mobiles <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/clothes">Clothes</a>
        <a class="nav-item nav-link" href="#">Computers</a>
        <a class="nav-item nav-link" href="#">Best Sellers</a>
        <a class="nav-item nav-link" href="#">Today's Deals</a>
        <a class="nav-item nav-link" href="#">New Releases</a>
        <a class="nav-item nav-link" href="#">ALL IN Pay</a>
        <a class="nav-item nav-link" href="#">Gift Ideas</a>
        <a class="nav-item nav-link" href="#">Books</a>
      </div>
    </div>
  </nav>
</div>
<hr>
<div class="nn">
<!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
    <h1>Our Featured Products</h1>
    <hr>
    <!--Controls-->
    <div class="controls-top">
      <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fa fa-angle-left fa-3x pr-3"></i></a>
      <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fa fa-angle-right fa-3x pl-3"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg"
              alt="Card image cap">
            <div class="n8">
                <div class="text"><a href="#">Add To Cart</a></div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(19).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(42).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(8).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(25).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(26).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(64).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(59).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-3">
          <div class="card">
            <img class="img-fluid" id="image" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(63).jpg"
              alt="Card image cap">
              <div class="n8">
                    <div class="text"><a href="#">Add To Cart</a></div>
                </div>
          </div>
        </div>
  
      </div>
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->
</div>
<div class="n5">
    <h1 class="h5">Explore<span class="h6"> More!</span></h1>
</div>
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rp8wUwdNEv8"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
      
        <div class="card">
            <a><img class="img-fluid z-depth-1" id="imag" src="assets/img/cloth4.jpg" alt="video"
            data-toggle="modal" data-target="#modal1" style="width: 430px;height: 240px;"></a>
        </div>
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hFa9hsI2W9A"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
        <div class="card">
         <a><img class="img-fluid z-depth-1" id="imag" src="assets/img/electronics8.jpg" alt="video"
          data-toggle="modal" data-target="#modal6" style="width: 430px;height: 240px;"></a>
        </div>
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RbJuiWwUI_4"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
    <div class="card">
      <a><img class="img-fluid z-depth-1" id="imag" src="assets/img/jewellery2.jpg" alt="video"
          data-toggle="modal" data-target="#modal4" style="width: 430px;height: 240px;"></a>
    </div>
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="row">
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6Gw5dK48MtI"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
       <div class="card">
        <a><img class="img-fluid z-depth-1" id="imag" src="assets/img/book1.jpg" alt="video"
          data-toggle="modal" data-target="#modal2" style="width: 430px;height: 240px;"></a>
       </div>
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d-bQiypT8MI"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
  
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
  
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
      <div class="card">
        <a><img class="img-fluid z-depth-1" id="imag" src="assets/img/electronics5.jpg" alt="video"
          data-toggle="modal" data-target="#modal5" style="width: 430px;height: 240px;"></a>
      </div>
    </div>
    <!-- Grid column -->
  
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-4">
  
      <!--Modal: Name-->
      <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
  
          <!--Content-->
          <div class="modal-content">
  
            <!--Body-->
            <div class="modal-body mb-0 p-0">
  
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aeQnQ-vjtuY"
                  allowfullscreen></iframe>
              </div>
  
            </div>
  
            <!--Footer-->
            <div class="modal-footer d-block d-md-flex justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
            </div>
  
          </div>
          <!--/.Content-->
  
        </div>
      </div>
      <!--Modal: Name-->
       <div class="card">
        <a><img class="img-fluid z-depth-1" id="imag" src="assets/img/electronics6.jpg" alt="video"
          data-toggle="modal" data-target="#modal3" style="width: 430px;height: 240px;"></a>
      </div>
    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  <hr>
<div class="new">
    <h2>Cities where we provide services</h2><hr>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
    <div class="cl-md-4">
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
        <a class="n1" href="#">aligarh</a>
    </div>
</div>
<hr>
<section class="our_client">
	<hr class="soften"/>
	<h4 class="title cntr"><span class="text2">Brands</span></h4>
	<hr class="soften"/>
	<div class="row">
      <div class="col-md-2">
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/1.png"></a>
        </div>
      </div>
      <div class="col-md-2">
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/2.png"></a>
        </div>
      </div>
      <div class="col-md-2">
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/3.png"></a>
        </div>
      </div>
      <div class="col-md-2">
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/4.png"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="span2">
			<a href="#"><img alt="" src="assets/img/5.png"></a>
        </div>
      </div>
      <div class="col-md-2">
		<div class="span2">
			<a href="#"><img alt="" src="assets/img/6.png"></a>
        </div>
      </div>  
	</div>
</section>